.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 10%;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px black;
}

.nav-bar {
    display: flex;
    gap: 15px;
    font-size: 20px;
}

@media (max-width:576px) {
    .header-nav {
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav-bar {
        flex-direction: column;
        gap: 0;
        padding-bottom: 10px;
        align-items: center;
    }
}