.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 10%;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px black;
}

.nav-bar {
    display: flex;
    gap: 15px;
    font-size: 20px;
}