.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.contact-container h1 {
    align-self: center;
}

.contact-row {
    display: flex;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 1rem;
}

.name-input {
    width: 50%;
    height: 25px;
    background-color: #375E97;
    color: #2bcdff;
}

.email-input {
    width: 50%;
    height: 25px;
    background-color: #375E97;
    color: #2bcdff;
}

.message-input {
    width: 50%;
    height: 50px;
    background-color: #375E97;
    color: #2bcdff;
}

.form-button {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #375E97;
    color: #2bcdff;
}

.form-button:hover {
    border: solid 2px #FFBB00;
    color: #7cc41d;
}

@media (max-width:576px) {
    .contact-container {
        width: fit-content;
        padding: 4.5rem;
    }

    .contact-container h1 {
        padding-left: 3rem;
    }

    .contact-row {
        flex-direction: column;
    }

    .contact-info {
        width: fit-content;
    }

    .contact-form {
        width: fit-content;
        padding-top: 2rem;
        padding-left: 1.5rem;
    }

    .name-input {
        width: fit-content;
    }

    .email-input {
        width: fit-content;
    }

    .message-input {
        width: 100%;
    }

    .form-button {
        padding: .5rem;
    }
}