footer {
    display: flex;
    justify-content: center;
    margin: 4rem;
    height: 10%;
    width: 97%;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: space-around;
    text-decoration: none;
}