.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2%;
    padding-right: 2%;
    width: 70%;
}

.about-me-container p {
    font-size: 1.1rem;
}